<head>
<title>캠퍼스고고-대학입시의 든든한 조력자가 되겠습니다</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/campusgogo.css" rel="stylesheet">
<link href="/css/navbar-custom.css" rel="stylesheet">
<script src="/js/jquery-3.1.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/campusgogo.js"></script>
</head>