<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/campusgogo.css" rel="stylesheet">
<script src="/js/jquery-3.1.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function() {
		// Add smooth scrolling to all links
		$("a").on('click', function(event) {

			// Make sure this.hash has a value before overriding default behavior
			if (this.hash !== "") {
				// Prevent default anchor click behavior
				event.preventDefault();

				// Store hash
				var hash = this.hash;

				// Using jQuery's animate() method to add smooth page scroll
				// The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
				$('html, body').animate({
					scrollTop : $(hash).offset().top
				}, 800, function() {

					// Add hash (#) to URL when done scrolling (default click behavior)
					window.location.hash = hash;
				});
			} // End if
		});
	});
	
	 $(window).scroll(function() {
		    if($(this).scrollTop() > 50)  /*height in pixels when the navbar becomes non opaque*/ 
		    {
		        $('.navbar').removeClass('tranbar');
		        $('.navbar').addClass('blackbar');
		    } else {
		        $('.navbar').addClass('tranbar');
		        $('.navbar').removeClass('blackbar');
		    }
		});
</script>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top tranbar" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#home">CampusGoGo</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-right"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="#home">홈</a></li>
					<li><a href="#intro">서비스소개</a></li>
					<li><a href="#function">핵심기능</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>
	<section class="container-fluid home_bg" id="home">
		<div class="row vmiddle">
			<div class="col-md-12 text-center">
				<h1>
					<strong>열려라 대학의 문!</strong>
				</h1>
				<h2>
					<strong>캠퍼스고고가 대학입시의 열쇠를 <br />함께 만들어 드립니다.
					</strong>
				</h2>
			</div>
			<div class="col-md-12 text-center">
				<a class="home-button" href="#intro">캠퍼스고고란?</a>
				<br />
				<br />
				<a class="home-button" href="#home">촉촉컴퍼니는?</a>
			</div>
		</div>
	</section>
	<section class="container-fluid intro_bg" id="intro">
		<div class="row vmiddle">
			<div class="col-md-12 text-center">
				<img alt="logo" src="/img/tk-logo.png" class="img-responsive">
			</div>
			<div class="col-md-12 text-center">
				<h2>
					<strong>수험생의 취약점을 분석 · 보완하여<br /> <u>실질적인 실력향상</u>을 돕는 <br />무료
						온라인 서비스 입니다.
					</strong>
				</h2>
			</div>
		</div>
	</section>
	<section class="container function_bg" id="function">
		<div class="row vmiddle">
			<div class="col-md-12 text-center">
				<img alt="logo" src="/img/white-logo-function.png" class="img-responsive">
			</div>
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<div class="col-md-4">
					<h2><strong>학습</strong></h2>
					<button class="function-button"><strong>모의고사</strong><br />성적관리<br />약점분석</button>
				</div>
				<div class="col-md-4">
					<h2><strong>정보</strong></h2>
					<button class="function-button"><strong>대학검색<br />대학추천<br />대학소개</strong></button>
				</div>
				<div class="col-md-4">
					<h2><strong>상담</strong></h2>
					<button class="function-button"><strong>진로상담<br />성적관리<br />합격멘토링</strong></button>
				</div>
			</div>
			<div class="col-md-3"></div>
		</div>
	</section>
</body>
</html>